<main class="wrapper">
  <div class="row">
    <div class="columns">
      <div class="title-action" >
        <h1 class="heading1 title-action__title">
          <%= t(".title") %>
        </h1>
      </div>
    </div>
  </div>
  <div class="row">
    <div class="columns mediumlarge-12 large-12">
      <% if @chats.empty? %>
        <div class="callout secondary">
          <p><%= t(".no_chats") %></p>
        </div>
      <% else %>
        <div class="card card--list chats">
          <% Decidim::Messaging::ChatPresenter.for_collection(@chats).each do |chat| %>
            <div class="card--list__item">
              <div class="card--list__text">
                <a class="card__link--block card__link--full">
                  <h6 class="card--list__heading heading6">
                    <%= chat.interlocutors_for(current_user) %>
                    <small><%= simple_date(chat.last_update) %></small>
                  </h6>
                  <span class="text-small">
                    <%= truncate chat.last_message, length: 150 %>
                  </span>
                </a>
              </div>
            </div>
          <% end %>
        </div>
      <% end %>
    </div>
  </div>
</main>
